APP_NAME="Docker Quiz Lab"
APP_ENV=local
APP_KEY=base64:1D8HBJlOeBQY4Z5WdiWVfgVoQ/281mFHcpzdRzdbI80=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=laravel-db
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=secret

SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync
